@import 'reset';
@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--txt-main);
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

*{

}

// Стили для скролла
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: var(--bg-main);
  border-radius: 5px;

}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-transparent);
  border-radius: 9em;
}

// для Firefox
* {
  scrollbar-width: thin;
  scrollbar-color:  var(--bg-transparent) var(--bg-main);

}
