:root {
  //bg
  --bg-main: #333333;
  --bg-second: #79abf5;
  --bg-transparent: rgba(109, 76, 222, 0.76);
  --active-link: #8f4ce0;

  //txt color
  --txt-main: #ffffff;
  --txt-second: #ababab;
  --txt-tmp: #ffffff;
  --txt-link: #4199c5;
}
