:root {
  //bg
  --bg-main: white;
  --bg-second: #a6d975;
  --bg-transparent: rgba(184, 239, 124, 0.49);

  //txt color
  --txt-main: #3a3838;
  --txt-second: #ababab;
  --txt-tmp: #ffffff;
  --txt-link: #4199c5;
}
