:root {
  //bg
  --bg-main: #dcf1f9;
  --bg-second: #7eb4fd;
  --bg-container: white;
  --bg-transparent: rgba(109, 76, 222, 0.76);
  --active-link: #8f4ce0;
  --bg-score: #f1f742;

  //txt color
  --txt-black:black;
  --txt-main: #565656;
  --txt-second: #ffffff;
  --txt-tmp: #ffffff;
  --txt-link: #4199c5;
}
