.header {
  padding: 5px 0;
  margin: 20px 0;
  .container {
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--bg-second);
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--txt-second);
    .nav {
      text-transform: uppercase;
      display: flex;
      column-gap: 15px;
      .active {
        color: var(--active-link);
      }
      .nonActive {
        color: black;
      }
      a {
        color: var(--txt-second);
        font-size: 18px;
        font-weight: 500;
      }
    }
    .profile {

    }
  }
}


