@keyframes open {
  0% {
    width: 0;
    left: 50%;
  }
  50% {
    width: 50%;
  }
  100%{
    width: 100%;
  }
}


.item {
  border: 1px solid var(--bg-second);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  column-gap: 25px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  .img {
    width: 50px;
    height: 50px;
    background-color: var(--bg-second);
    border-radius: 50%;
  }
  .text {
    .title {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .subtitle {
      font-size: 16px;
    }
  }
  .score {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-second);
    color: var(--txt-second);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 10px;
    animation: open .6s linear;
    overflow: hidden;
    div {
      white-space: nowrap;
    }
  }
  //
  &:hover {
    //background-color: var(--bg-second);
    transform: scale(1.02);
  }
}
